* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1C1C21;
}

.App {
  &__foundPage {
    color: red;
    font-size: 32px;
    padding: 50px;
  }
}